<html>

	<head>
		<title>	Magazine </title>
	</head>

	<body>
		<div class="container">

<!-- Start Division Header  contain Two Main Div  
		1.header-logo 2.header-menu 
		and header-menu contain Two sub div 
		1. header-menu-list 2. header-menu-side -->
			
			<div class="header">
				
				<!-- Logo Part  -->

					<div class="header-logo">
							<img class="header-image"  src="/images/logo.png">
					</div>

				<!-- Header menu link navigation -->

					<div class="header-menu"> 
							<div class="header-menu-list">	
									
									<nav class="navigation">
										
										<ul>
											<li>	<a href="#"> Books </a>  	</li>
											<li>	<a href="#" class="img-paste"> eBooks	</a> 	</li>
											<li>	<a href="#"> Workshops </a>	</li>
											<li>	<a href="#"> Job Board </a> </li>
										</ul>

									</nav>
							</div>

				<!-- Rss, Face Book, Tweeter link navigation -->

							<div class="image-div" >
									
									<nav class="navigation1">
										
										<ul>
											<li>	<a href="#"> <img class="images" src="/images/rss.png" </a>  	</li>
											<li>	 <img class="images" src="/images/fb.png" </a> 	</a> 	</li>
											<li>	<a href="#"> <img class="images" src="/images/tweet.png" </a>  </a>	</li>
											<li>	<a href="#"> <img class="images" src="/images/mb.png" </a> </a> </li>
										</ul>

									</nav> 
							</div>

					</div>

				<!-- Header menu side label for search magazine -->

					<div class="header-menu-side">
									 Search on Smashing Magazine
							</div>

			</div>
			
			<!-- Main  Body Content -->

			<!-- Main   Content -->
			<div class="main-menubar">


			<!-- Main  left menu side  -->
				<div class="main-menubar-content"> 

					<div class="body-menu1">

							<nav class="body-navigation">
										
								<ul>
									<li>	<a href="#"> Coding </a>  	</li>
									<li>	<a href="#" > CSS	</a> 	</li>
									<li>	<a href="#"> HTML </a>	</li>
									<li>	<a href="#"> JavaScript</a> </li>
									<li>	<a href="#"> Techniques</a> </li>
								</ul>

							</nav>
								<nav class="body-navigation1">
										
								<ul>
									<li>	<a href="#"> Design </a>  	</li>
									<li>	<a href="#" > Web Desing	</a> 	</li>
									<li>	<a href="#"> Typography </a>	</li>
									<li>	<a href="#"> Inspiration</a> </li>
									<li>	<a href="#"> Business</a> </li>
								</ul>

							</nav>

							<nav class="body-navigation2">
										
								<ul>
									<li>	<a href="#"> Mobile </a>  	</li>
									<li>	<a href="#" > iPhone	</a> 	</li>
									<li>	<a href="#"> Android </a>	</li>
									<li>	<a href="#"> Design Patterns</a> </li>
								</ul>

							</nav>
							<nav class="body-navigation3">
										
								<ul>
									<li>	<a href="#"> GRAPHICS </a>  	</li>
									<li>	<a href="#" > Photoshop	</a> 	</li>
									<li>	<a href="#"> Fireworks </a>	</li>
									<li>	<a href="#"> Wallpappers</a> </li>
									<li>	<a href="#"> Freebies</a> </li>
								</ul>

							</nav>
					</div>
						CODING DESIGN MOBILE GRAPHICS UX DESIGN WORFPRESS   

				</div>	
			<!-- Main  body content side  -->
				<div class="main-content-page">
					
					<div>
							<h1>Facing Your Fears: Approaching People For Research</h1>
							<h3 style="color:#c6c7cc">By <a style="color:#41b7d8;text-decoration:none;" href="#" >Carolyn Chandler</a></h3>
					</div>
					
					<hr>
					<div>
						<img src="/images/img1.gif"/> <span class="span1" style="color:#c6c7cc">June 30th, 2014</span><img src="/images/img2.gif"/><span class="span1">Communication, Research, User Research</span>                <img src="/images/img3.gif"/> <span class="span1"> 5 comments</span>
					</div>

					<div style="padding-top:35px;">
						<span class="span2">
							When working on a project, have you ever felt that you and the rest of the team were making a lot of decisions based on assumptions? Having to make choices with limited information is not unusual — especially in complex projects or with brand new products.
						</span>
						
					</div>

					<div style="padding-top:35px;">
							<img sytle="padding-top:35px" src="/images/img4.jpg"/>

							<span style="padding-top:35px; font-size:14px">
								Phrases like “We think people will use this feature because of X” or “We believe user group Y will switch to this product” become part of the early deliberation on what to develop and how to prioritize.
							</span>
							<span>
							
							</span>
					</div>

				</div>


			</div>

			<!-- Main   Right side Content -->
			<div class="main-menubar-rightside">
				
				<!-- Main content  Right side Form search contain textbox and submit button -->	
				<div>
					<form>
        					<input type="text" name="search"><input class="btn" type="submit" name="submit" value="Search">
					</form>
				</div>
				
				<!-- Below form search contain addvertise -->
				<div >
					
					<div class="add-image" >
						<label class="add-label">Advertisement</label>
						<img class="add1" src="/images/add1.png"/>
					</div>
					

					<div class="add-image1">
						<label class="add-label1" >Advertise with us!</label>
						<img class="add2" src="/images/add2.jpg"/>
					</div>

				</div>


			</div>

		<!--
			<div class="content">

			</div>

			<div class="rightside">

			</div>

		-->

		<!-- Footer -->
			<div class="footer">

			</div>

		</div>

	</body>

</html>

<style>

		body
		{
			background-image: url("/images/download.gif");
			margin: 0 auto;
			font-family: "Skolar Regular","Roboto Slab","Droid Serif",Cambria,Georgia,"Times New Roman",Times,serif; 
		}

		.floatclear 
		{
			clear:both;
		}
		
		hr { 
			display: block; 
			border-top: 0.5px  #c6c7cc;

    		
			}


			.span1
			{
				font-family: "Skolar Regular","Roboto Slab","Droid Serif",Cambria,Georgia,"Times New Roman",Times,serif;
				color:#41b7d8;
				padding-left: 6px;
				padding-right: 50px;
				font-size: 14px;
			}

			.span2
			{
				font-family: "Skolar Regular","Roboto Slab","Droid Serif",Cambria,Georgia,"Times New Roman",Times,serif;
				color:#000000;

				font-size: 16px;
			}


		/* 	header	*/
		.header
		{
			height: 70px;
			width: 100%;
		}

		/* 	header LOGO div		*/

		.header-logo
		{
			background: #ffffff;
			width: 200px;
			height: 70px;
			float: left;
			padding-left: 5px;
			padding-top: 0px;
			margin-left: 8px;
		}

						.header-image
						{
							height: 40px; 
							width: 160px;
							padding-top: 20px;
							padding-left: 18px;
						}

		/* 	header Menu  div		*/

		.header-menu
		{
			height: 70px;
			width: 600px;
			padding-top: 0px;
			padding-left: 0px;
			float: left;
		
			
		}
			
			/* 	header Menu navigation div		*/

						.header-menu-list
						{
							
							padding-top: 0px;
							padding-left: 0px;
							float: left;
							padding-bottom: 0px;

							

						}


								.navigation ul 
								{
							          
							            font: 14px Arial;

							           padding-top:25px;
							           padding-left: 0px;
							           border-width: 0.5px;
							           border-color: #c6c7cc;

							    }
						        .navigation li 
						        {
						            display: inline;
						        }
						        .navigation a 
						        {
						            border-right: 1px solid;
						            color: #c6c7cc;
						            padding: 40px 15px;
						            text-decoration: none;

						        }
						        .navigation a:hover 
						        {
						        	border-right: 1px solid #c6c7cc;
						        	background: #FF6;
						            box-shadow:#FF6;
						        }
						        .navigation li:first-child a 
						        {
						            border-left: 1px solid #c6c7cc;
						        }
						        .navigation li:last-child a 
						        {
						            border-right: 1px solid #c6c7cc;
						            
						        }
						        .img-paste
						        {
						        	background: url("/images/navilittlebook.png") no-repeat;
						        	background-position: right 0px;

						        }
				/* 	header Rss, Facebook, Tweeter navigation div		*/
						    .image-div
						    {
						    	padding-left: 5px;
						    }

						        .images
						        {
						        	width: 20px;
						        	height: 20px;

						        }
						        	.navigation1 ul 
									{
							           padding-top:20px;
							           border-width: 0.3px;
							          

								    }
							        .navigation1 li 
							        {
							            display: inline;
							            padding-left: 1px;
							            
							            
							        }
							        .navigation1 a 
						        	{
							            
							            padding: 25px 1px;
							            text-decoration: none;
  										 opacity: .5;

						        	}
						        	.navigation1 a:hover 
						        	{
							        	
							        	opacity: 1.0;
						        	}
						        	.navigation1 li:first-child a 
						        	{
						            	
						            	
						            	margin-left: 130px;
						        	}
							        .navigation1 li:last-child a 
							        {
							            
							            padding-right: 10px;
							            
							        }

				/* 	header right side label div		*/

						.header-menu-side
						{
							width: 300px;
							font: 14px Arial;
							color: #c6c7cc;
							padding-top: 38px;							
							/*	background-color: yellow; 	*/
							margin-left: 15px;
							float: left;
						}

		.header-search
		{
			height: 70px;
			padding: 0px 20px;
			margin-left: 180px;
		}
/* Main content */
		.main-menubar
		{
			float: left;
			width: 790px;
			height: 950px;
			border-top-right-radius:15px;
			padding-left: 5px;
			margin-left: 8px;
			background-color: #FFFFFF;
			
		}

					.main-menubar-content
					{
						float:left;
						width: 220px;
						height: 850px;
						padding-left: 0px;
						padding-top: 40px;
						

					}

							.body-navigation ul 
								{
							         
							          font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
							          font-weight: 400;
							          border-left: 10px solid #c9e9e5;
							          width: 35px;
							          padding-top: 0px;
							          margin-top: 0px;
							    }
						        .body-navigation li 
						        {
						            display: block;
						            padding: 3px 0px 5px 0px;
						            margin: 0px;

						           
						        }
						        .body-navigation a 
						        {
						          	color: #c6c7cc;
						           	text-decoration: none;
						           	padding: 3px 0px 5px 0px;
						           	margin: 0px;
						           	
						           	   
						         }
						        .body-navigation a:hover 
						        {
						        	
						        	background: #FF6;
						            box-shadow:#FF6;
						           padding: 3px 0px 5px 0px;
						            
						        }
								.body-navigation li:first-child a 
						        {
						            
						            font-weight: bold;
						       	}
								.body-navigation li:last-child a 
						        {
						            
						            padding-top: 0px;
						            margin-top:0px;
						           
						           
								}
						    

						    	.body-navigation1 ul 
								{
							         
							          font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
							          font-weight: 400;
							          border-left: 10px solid #cdeeaa;
							          width: 35px;
							           padding-top: 0px;
							          margin-top: 0px;
							    }
						        .body-navigation1 li 
						        {
						            display: block;
						             padding: 3px 0px 5px 0px;
						            margin: 0px;

						           
						        }
						        .body-navigation1 a 
						        {
						          	color: #c6c7cc;
						           	text-decoration: none;
						           	 padding: 3px 0px 5px 0px;
						           	margin: 0px;
						           	
						           	   
						         }
						        .body-navigation1 a:hover 
						        {
						        	
						        	background: #FF6;
						            box-shadow:#FF6;
						            padding: 3px 0px 5px 0px;
						            
						        }
								.body-navigation1 li:first-child a 
						        {
						            
						            font-weight: bold;
						            padding-top: 0px;
						            margin-top: 0px;
						           
						           
								}
						    
								.body-navigation2 ul 
								{
							         
							          font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
							          font-weight: 400;
							          border-left: 10px solid #f9f0a8;
							          width: 35px;
							    }
						        .body-navigation2 li 
						        {
						            display: block;
						             padding: 3px 0px 5px 0px;
						            margin: 0px;

						           
						        }
						        .body-navigation2 a 
						        {
						          	color: #c6c7cc;
						           	text-decoration: none;
						           	 padding: 3px 0px 5px 0px;
						           	margin: 0px;
						           	
						           	   
						         }
						        .body-navigation2 a:hover 
						        {
						        	
						        	background: #FF6;
						            box-shadow:#FF6;
						            padding: 3px 0px 5px 0px;
						            
						        }
								.body-navigation2 li:first-child a 
						        {
						            
						            font-weight: bold;
						            
						           
								}
						    
								.body-navigation3 ul 
								{
							         
							          font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
							          font-weight: 400;
							          border-left: 10px solid #a675a2;
							          width: 35px;
							    }
						        .body-navigation3 li 
						        {
						            display: block;
						             padding: 3px 0px 5px 0px;
						            margin: 0px;

						           
						        }
						        .body-navigation3 a 
						        {
						          	color: #c6c7cc;
						           	text-decoration: none;
						           	 padding: 3px 0px 5px 0px;
						           	margin: 0px;
						           	
						           	   
						         }
						        .body-navigation3 a:hover 
						        {
						        	
						        	background: #FF6;
						            box-shadow:#FF6;
						            padding: 3px 0px 5px 0px;
						            
						        }
								.body-navigation3 li:first-child a 
						        {
						            
						            font-weight: bold;
						           
						           
								}


					.main-content-page
					{
						float:left;
						width: 550px;
						height: 950px;
						padding-left: 0px;
						padding-top: 40px;
						

					}




		.main-menubar-rightside
		{
			float: left;
			width: 340px;
			height: 750px;
		
		}	
		
		/* 	Form Tag CSS	*/		
				form 
				{
		            border: 0px solid #c6c7cc;
		            border-radius: 10px;
		            font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
		            overflow: hidden;
		            width: 340px;
		       	}
		/* 	Textbox CSS	*/	
		        input 
		        {
		            border-radius: 0px;
		            font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
		            margin-left: 16px;
		            height: 28px;
		            border: 0.5px solid #c6c7cc;
		            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
		            color: #636466;
		            padding: 4px;
		            margin-top: 0px;
		            width: 210px;
		            border-bottom-left-radius: 8px;
		            border-top-left-radius: 8px;

		        }

		/* 	Button CSS	*/	
		        .btn 
		        {
		            background: red;
		            outline: 0px;
		            border: 0px;
		            margin: 0px;
		            padding: 0px;
		            color: #fff;
		            font: 14px Arial; 
		            height: 38px;
		            width: 92px;
		             border-bottom-left-radius: 0px;
		            border-top-left-radius: 0px;

		            border-bottom-right-radius: 8px;
		            border-top-right-radius: 8px;
		        }

		    /* 	Adding Advertisement	*/   
		    .add-image
		    {
		    	
		    	float: left;
				font: 14px Arial;
				color: #c6c7cc;
				margin-left: 16px;
		    	margin-top: 16px;
			
		    }
			.add-label 
			{
			    display: block;
			    padding-left: 5px;
			    margin-top: 20px;
			   
			 }
		    .add1
		    {
		    	float: left;
		    	width: 160px;
		    	height: 120px;
		    	margin-top: 5px;
		    	margin-left: 5px;
		    	
		    }

		    .add-image1
		    {
		    	
		    	float: left;
				font: 14px Arial;
				color: #c6c7cc;
				margin-left: 8px;
		    	margin-top: 16px;
			
		    }
			.add-label1 
			{
			    display: block;
			    padding-left: 35px;
			    margin-top: 20px;
			    color: #41b7d8;
			   
			 }
		    .add2
		    {
		    	float: left;
		    	width: 140px;
		    	height: 120px;
		    	margin-top: 5px;
		    	margin-left: 5px;
		    	
		    }
		   
	/*
		.content
		{
			float: left;
			width: 700px;
			height: 600px;
			background-color: #000000;
			padding-left: 5px;
			margin-left: 8px;
			
		}

		.rightside
		{
			float: left;
			width: 270px;
			height: 600px;
			background-color: 	#CC0000;
		}
	*/
</style>